

// breakpoints
@min-sm: 768px;
@min-md: 992px;
@min-lg: 1200px;
@max-xs: 767px;
@max-sm: 991px;
@max-md: 1199px;

// media queries
@xs: ~"only screen and (max-width: @{max-xs})";
@sm: ~"only screen and (min-width: @{min-sm})";
@md: ~"only screen and (min-width: @{min-md})";
@lg: ~"only screen and (min-width: @{min-lg})";