// import base files
@import 'base/reset';
@import 'base/grid12';
@import 'base/vars';
@import 'base/reusable';

/* base styles */

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.center { text-align: center; }

// typography
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:400,600');
body {
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Bree Serif', serif;
}
