// include base
@import 'base';

// templates
@import 'main-menu';
@import 'header';
@import 'footer';

// pages
@import 'home-page';

// .all-content
.all-content {
    transform: scale(1);
    transition: .3s;
    &.active {
        border: 1px solid @turquoise;
        margin: -100px auto 0 auto;
        transform: scale(.91);   
    }
}

// buttons btn(font-size, bg-color, color, padding, border)
.button {
  position: relative;
  overflow: hidden;
  display: block;
  &:before {
    background-color: @white;
    transform: rotate(15deg);
    transition: .3s ease-in;
    position: absolute;
    display: block;
    height: 100px;
    width: 40px;
    content: '';
    left: -75px;
    opacity: .5;
    top: -25px;
  }
  &:hover:before {
    left: 200px;
  }
}
.btn-primary {
  .btn-variant(12px, @darkBlue, @white, 20px 40px, 2px solid @darkBlue);
  float: left;
}
.btn-secondary {
  .btn-variant(12px, transparent, @white, 20px 40px, 2px solid @white);
  float: right;
}
.btn-alternative {
  .btn-variant(12px, @turquoise, @white, 20px 40px, none);
  float: left;
}
.btn-link {
    .btn-variant(12px, @lightGray, @darkBlue, 15px 30px, none);
    margin-right: 3px;
    float: left;
}
